/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 @import '../node_modules/react-select/dist/react-select.css';

.wp-block-teaser-reference-block  {
  background: $white;
  color: $black;
  margin: 0 auto;
  padding: 0.5rem;
}

.components-panel{
  overflow: visible !important;
}

.Select-menu-outer {
  z-index: 10000000 !important;
}

.teaser-spinner {
  background: url('/wp-admin/images/wpspin_light-2x.gif') no-repeat;
  background-size: 32px 32px;
  background-position: 50% 50%; 
  display: block;
  opacity: .7;
  filter: alpha(opacity=70);
  height:40px;
  margin: 5px 5px 0;
  }