/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 @import '../node_modules/react-select/dist/react-select.css';

.wp-block-ncfgears-reference-block  {
  background: $white;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.components-panel{
  overflow: visible !important;
}

.Select-menu-outer {
  z-index: 10000000 !important;
}